.main__head {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  line-height: 43.57px;
}
@media screen and (min-width: 321px) {
  .main__head {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    max-width: 362px;
  }
}
@media screen and (max-width: 321px) {
  .main__head {
    font-size: 36px;
  }
}
